@model NotesMarketPlace.Models.AddCountry
@{
    ViewBag.Title = "AddCountry";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!-- Add Administrator Profile -->
<section id="add-country">
    <div class="content-box-md content-box-sm">
        <div class="container">
            <div class="row margin-set">
                <div class="sub-heading">
                    <h4>Add Country</h4>

                </div>
            </div>

            <div class="details">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-left">
                                    @Html.LabelFor(model => model.CountryName, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.CountryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter country name", @style = "margin:15px 0 30px 0;" } })
                                    @Html.ValidationMessageFor(model => model.CountryName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-left">
                                    @Html.LabelFor(model => model.CountryCode, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CountryCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter country code", @style = "margin:15px 0 30px 0;" } })
                                    @Html.ValidationMessageFor(model => model.CountryCode, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <br />
                            <br />
                            <div style="margin:0 0 0 15px;">
                                @ViewBag.Message
                            </div>
                            <div class="margin-set">
                                <button class="btn btn-sell" type="submit" style="margin-top:30px;">submit</button>
                            </div>

                        </div>

                    </div>

                }
            </div>

        </div>

    </div>
</section>
<!-- Add Administrator Ends -->
