@model NotesMarketPlace.Models.AddCategory
@{
    ViewBag.Title = "AddCategory";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!-- Add Category Profile -->
<section id="add-category">
    <div class="content-box-md content-box-sm">
        <div class="container">
            <div class="row margin-set">
                <div class="sub-heading">
                    <h4>Add Category</h4>

                </div>
            </div>

            <div class="details">


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-md-6 col-sm-6 xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-left">
                                    @Html.LabelFor(model => model.CategoryName, htmlAttributes: new { @class = "control-label" })

                                    @Html.EditorFor(model => model.CategoryName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter catogory name", @style = "margin:15px 0 30px 0;" } })
                                    @Html.ValidationMessageFor(model => model.CategoryName, "", new { @class = "text-danger" })

                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group text-left ">

                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
                                    <div class="form-group">
                                        @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter description", @style = "margin:15px 0 30px 0;" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <button class="btn btn-sell" type="submit" style="margin-top:30px;">submit</button>
                            </div>
                        </div>
                    </div>


                }
            </div>

        </div>
    </div>
</section>
<!-- Add Category Ends -->
