@model IPagedList<NotesMarketPlace.Models.SellerNote>
@using PagedList;
@using PagedList.Mvc;
@{
    IEnumerable<NotesMarketPlace.Models.User> seller = ViewData["Seller"] as IEnumerable<NotesMarketPlace.Models.User>;
    IEnumerable<NotesMarketPlace.Models.NoteCategory> category = ViewData["Category"] as IEnumerable<NotesMarketPlace.Models.NoteCategory>;

}
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<!-- Dashboard -->
<section id="dashboard">
    <div class="content-box-md content-box-sm content-box-xs">
        <div class="container dashboard-admin-wrapper">
            <div class="row margin-set">
                <div class="sub-heading dashboard">
                    <h4 style="margin-left:15px; margin-bottom:20px;">Dashboard</h4>

                </div>
            </div>
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <table class="table table-bordered left-01">
                        <tr>
                            <td class="my-earning-details">
                                <h4>@ViewBag.InReview </h4>
                                <span>
                                    <h6>Numbers of Notes in Review for Publish</h6>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <table class="table table-bordered left-01">
                        <tr>
                            <td class="my-earning-details">
                                <h4>@ViewBag.Download</h4>
                                <span>
                                    <h6>
                                        Numbers of New Notes Downloaded<br>
                                        (Last 7 days)
                                    </h6>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                    <table class="table table-bordered left-01">
                        <tr>
                            <td class="my-earning-details">
                                <h4>@ViewBag.User</h4>
                                <span>
                                    <h6>Numbers of New Registrations (Last 7 days)</h6>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="dashboard-details">
                <div class="row margin-reset">
                    <div class="notes-heading">
                        <h6>Published Notes</h6>
                    </div>
                    <div class="s-btn">
                        <form id="month">

                            <select class="form-control" onchange="submit()" id="month" name="month" style="text-overflow: ellipsis; padding-right: 35px;">
                                <option value="">Select Month</option>
                                @{ for (int i = 0; i < 6; i++)
                                    {
                                        <option value="@DateTime.Now.AddMonths(-i).ToString("MMMM yyyy")">@DateTime.Now.AddMonths(-i).ToString("MMMM yyyy")</option>

                                    }
                                }
                            </select>
                            <script>
                                $("#month").val("@Request.QueryString["month"]");
                            </script>

                        </form>
                    </div>
                    <form method="get">
                        <div class="s-btn">
                            <button class="btn btn-search" type="submit">search</button>
                        </div>
                        <div class="seach-bar">
                            <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>
                            <div>
                                <input type="text" class="form-control border-none" id="search" name="search"
                                       value="@Request.QueryString["search"]" placeholder="Search">
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="table-responsive">
                <table class="table border shadow">
                    <thead>
                        <tr>
                            <th scope="col">sr no.</th>
                            <th scope="col">note title</th>
                            <th scope="col">category</th>
                            <th scope="col">attachment size</th>
                            <th scope="col">sell type</th>
                            <th scope="col">price</th>
                            <th scope="col">publisher</th>
                            <th scope="col">published date</th>
                            <th scope="col">Number of downloads</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int index = 1;}
                        @foreach (NotesMarketPlace.Models.SellerNote s in Model)
                        {
                            string downlodedDate = String.Format("{0:dd-MM-yyyy,hh:mm}", s.CreatedDate);
                           

                        <tr>
                            <td class="sr-no">@index</td>
                            <td class="blue"><a href="@Url.Action("NoteDetails","Admin",new { id=s.ID})">@s.Title</a></td>
                            <td>@s.NoteCategory.Name</td>
                            <td class="sr-no">@TempData[s.ID.ToString() + "mb"]</td>
                            @if (s.IsPaid != true)
                            {
                                <td>Free</td>
                                <td>$0</td>
                            }
                            else
                            {
                                <td>Paid</td>
                                <td>@s.SellingPrice</td>
                            }
                            @foreach (var r in seller)
                            {
                                if (r.ID == s.SellerID)
                                {
                                    <td>@r.FirstName @r.LastName</td>
                                }
                            }
                            <td>@downlodedDate</td>
                            <td class="blue sr-no">@TempData[s.ID.ToString()] </td>
                            <td>
                                <div class="dropdown right">
                                    <img src="~/images/Dashboard/dots.png" role="button" alter="client" class="img-responsive eye" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">


                                    <div class="dropdown-menu width-view01">
                                        <div class="dropdown-item item-01"><a href='@Url.Action("Download", "RegisteredUser", new {path=TempData[s.ID.ToString() + "path"]})' style="color:#333;" class="btn-admin-download">Download Notes</a></div><br>
                                        <div class="dropdown-item"><a href='@Url.Action("NoteDetails", "Admin", new {id=s.ID })' style="color:#333;" class="btn-admin-download">View More Details</a></div><br>
                                        <div class="dropdown-item"><a href='@Url.Action("Unpublish", "Admin", new {id=s.ID })' style="color:#333;" class="btn-admin-download">Unpublish</a></div><br>
                                    </div>
                                </div>
                            </td>
                        </tr>
                            index += 1;
                        }

                    </tbody>
                </table>
            </div>

            <div id="page" class="text-center">
                @Html.PagedListPager(Model, i => Url.Action("Dashboard", "Admin", new { i, search = Request.QueryString["search"], month = Request.QueryString["month"] }), new PagedListRenderOptions
                {
                    ContainerDivClasses = null,
                    LiElementClasses = new string[] { "page-item1" },
                    UlElementClasses = new string[] { "pagination justify-content-center" },
                    LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
                    LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
                    MaximumPageNumbersToDisplay = 5,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never
                })
            </div>

        </div>

    </div>
</section>
<!-- Dashboard Ends -->
<script>
    function onSubmit() {
        document.getElementById('month').submit();
    }
</script>

