@model IPagedList<NotesMarketPlace.Models.Download>
@using PagedList;
@using PagedList.Mvc;
@{
    IEnumerable<NotesMarketPlace.Models.User> seller = ViewData["Seller"] as IEnumerable<NotesMarketPlace.Models.User>;
    IEnumerable<NotesMarketPlace.Models.User> buyer = ViewData["Buyer"] as IEnumerable<NotesMarketPlace.Models.User>;
    var sellerdropdown = ViewData["SellerDropDown"] as IEnumerable<string>;
    var buyerdropdown = ViewData["BuyerDropDown"] as IEnumerable<string>;
    var note = ViewData["Notes"] as IEnumerable<string>;
}
@{
    ViewBag.Title = "DownloadedNotes";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!-- Downloaded Notes -->
<section id="downloadedNotes">
    <div class="content-box-md">
        <div class="container downloaded-notes-wrapper">
            <div class="row">
                <div class="sub-heading margin-reset">
                    <h4>Downloaded Notes</h4>
                </div>

                <div class="row">
                    <form id="form1">
                        <div class="search-options">
                            <p>Note</p>
                            <select class="form-control seller" id="Notes" name="Notes" onchange="onSubmit()">
                                <option value="">Select note</option>
                                @foreach (var n in note)
                                {
                                    <option value="@n">@n</option>
                                }
                            </select>
                            <script>
                                 $("#Notes").val("@Request.QueryString["Notes"]");
                            </script>
                        </div>
                        <div class="search-options">
                            <p>Seller</p>
                            <select class="form-control seller" name="seller" id="seller" onchange="onSubmit()"  >
                                <option value="">Select seller</option>


                            </select>
                        </div>
                        <div class="search-options">
                            <p>Buyer</p> <select class="form-control seller" onchange="onSubmit()" id="buyer" name="buyer"  >
                                <option value="" disabled selected>Select buyer</option>

                            </select>
                        </div>
                    </form>

                    <div class="margin-top">
                        <form method="get">
                            <div class="s-btn margin-right margin-reset">
                                <button class="btn btn-search" type="submit">search</button>
                            </div>
                            <div class="seach-bar">
                                <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>
                                <div>
                                    <input type="text" class="form-control border-none" id="search" name="search"
                                           value="@Request.QueryString["search"]" placeholder="Search">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table border shadow">
                    <thead>
                        <tr>
                            <th scope="col">sr no.</th>
                            <th scope="col">note title</th>
                            <th scope="col">category</th>
                            <th scope="col" class="seller01">buyer</th>
                            <th scope="col"> </th>

                            <th scope="col" class="seller01">seller</th>
                            <th scope="col"> </th>
                            <th scope="col">sell type</th>
                            <th scope="col">price</th>
                            <th scope="col">downloaded date/time</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int index = 1;}
                        @foreach (NotesMarketPlace.Models.Download d in Model)
                        {
                            string downlodedDate = String.Format("{0:dd-MM-yyyy,hh:mm}", d.AttachmentDownloadedDate);
                            <tr>
                                <td class="sr-no">@index</td>
                                <td class="blue"><a href="@Url.Action("NoteDetails","Admin",new { id=d.NoteID})">@d.NoteTitle</a></td>
                                <td>@d.NoteCategory</td>
                                @foreach (var s in seller)
                                {
                                    if (d.Seller == s.ID)
                                    {
                                        <td>@s.FirstName @s.LastName</td>
                                    }
                                }
                                <td>
                                    <a href="@Url.Action("MemberDetails","Admin",new { id=(d.Seller)})"> <img src="~/images/Dashboard/eye.png" class="eye"></a>
                                </td>
                                @foreach (var b in buyer)
                                {
                                    if (d.Downloader == b.ID)
                                    {
                                        <td>@b.FirstName @b.LastName</td>
                                    }
                                }
                                <td>
                                    <a href="@Url.Action("MemberDetails","Admin",new { id=(d.Downloader)})"> <img src="~/images/Dashboard/eye.png" class="eye"></a>
                                </td>
                                @if (d.IsPaid == true)
                                {
                                    <td>Paid</td>
                                    <td>$@d.PurchasedPrice</td>
                                }
                                else
                                {
                                    <td>Free</td>
                                    <td>$0</td>
                                }
                                <td>@downlodedDate</td>
                                <td>
                                    <div class="dropdown right">
                                        <img src="~/images/Dashboard/dots.png" role="button" alter="client" class="img-responsive eye" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">

                                        <div class="dropdown-menu width-view">
                                            <div class="dropdown-item item-01"><a href='@Url.Action("Download", "RegisteredUser", new {path=TempData[d.NoteID.ToString() + "path"]})' style="color:#333;" class="btn-admin-download">Download Notes</a></div><br>
                                            <div class="dropdown-item "><a href='@Url.Action("NoteDetails", "Admin", new {id=d.NoteID })' style="color:#333;" class="btn-admin-download">View More Details</a></div><br>
                                        </div>
                                </td>
                            </tr>
                            index += 1;
                        }
                    </tbody>
                </table>
            </div>

            <div id="page" class="text-center">
                @Html.PagedListPager(Model, i => Url.Action("DownloadedNotes", "Admin", new { i, search = Request.QueryString["search"], Notes = Request.QueryString["Notes"] }), new PagedListRenderOptions
                {
                    ContainerDivClasses = null,
                    LiElementClasses = new string[] { "page-item1" },
                    UlElementClasses = new string[] { "pagination justify-content-center" },
                    LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
                    LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
                    MaximumPageNumbersToDisplay = 5,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never
                })
            </div>
        </div>

    </div>
</section>
<!-- Downloaded Notes Ends -->
<script>
    function onSubmit() {
        document.getElementById('form1').submit();
    }
</script>