@model NotesMarketPlace.Models.UserLogin

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Title -->
    <title>Notes MarketPlace</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/home/favicon.ico">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">


</head>


<body>

    <!-- Login -->
    <section id="login">
        <img src="~/images/pre-login/banner-with-overlay.jpg" alt="banner" class="img-responsive img-pre-login">
        <div id="login-content">
            <div id="login-content-inner" class="container  text-center">
                <div class="logo">
                    <img src="~/images/pre-login/top-logo.png" alt="logo" class="img-responsive">
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-8 col-xs-10 col-md-offset-4 col-sm-offset-2 col-xs-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-body">

                                @using (Html.BeginForm("Login", "Admin", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="text-center login-heading">
                                        <h2>Login</h2>
                                        <p><small>Enter your email address and password to login</small></p>
                                    </div>



                                    <div class="form-group text-left">
                                        @Html.Label("EmailID", "Email", htmlAttributes: new { @class = "control-label" })
                                        <div>
                                            @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your email address" } })
                                            @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                            @Html.ValidationMessage("EmailExist", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-left ">
                                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label left" })
                                        </div>
                                        <div class="text-right right fp">
                                            @Html.ActionLink("Forgot Password?", "ForgotPassword", "", new { @class = " text-right blue border-decoration actionlink" })
                                        </div>
                                        <div>
                                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your password", @id = "password-field" } })

                                            <span class="field-icon toggle-password" toggle="#password-field"><img src="~/images/pre-login/eye.png"></span>
                                        </div>
                                    </div>
                                    <div class="small text-left">
                                        <small>@ViewBag.Message</small>
                                    </div>

                                    <div class="text-left">
                                        <div class="form-check">
                                            @Html.CheckBoxFor(model => model.RememberMe, htmlAttributes: new { @class = "control-label form-check-input", @id = "invalidCheck" })
                                            @Html.Label("RememberMe", "Remember Me", htmlAttributes: new { @class = "control-label margin-left" })
                                        </div>
                                    </div>
                                    <div class="text-left">
                                        <button class="btn btn-primary" type="submit">login</button>
                                    </div>


                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Ends -->
    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/script.js"></script>

</body>
</html>
