@model IPagedList<NotesMarketPlace.Models.User>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Member";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<!-- Member -->
    <section id="member">
        <div class="content-box-md content-box-sm">
            <div class="container member-wrapper">
                <div class="row">
                    <div class="sub-heading margin-reset left">
                        <h4>Members</h4>
                    </div>

                    <form method="get">
                        <div class="s-btn">
                            <button class="btn btn-search" type="submit">search</button>
                        </div>
                        <div class="seach-bar">
                            <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>

                            <div>
                                <input hidden name="sort" value="@Request.QueryString["sort"]" />
                                <input type="text" class="form-control border-none" id="search" name="search"
                                       value="@Request.QueryString["search"]" placeholder="Search">

                            </div>
                        </div>
                    </form>

                </div>

                <div class="table-responsive">
                    <table class="table border shadow">
                        <thead>
                            <tr>
                                <th scope="col">sr no.</th>
                                <th scope="col"><a href="@Url.Action("Member","Admin",new { sort="FirstName",i=Request.QueryString["i"],search=Request.QueryString["search"]})" style="color:#333;">first name</a></th>
                                <th scope="col"><a href="@Url.Action("Member","Admin",new { sort="LastName",i=Request.QueryString["i"],search=Request.QueryString["search"]})" style="color:#333;">last name</a></th>
                                <th scope="col"><a href="@Url.Action("Member","Admin",new { sort="EmailID",i=Request.QueryString["i"],search=Request.QueryString["search"]})" style="color:#333;">email</a></th>
                                <th scope="col"><a href="@Url.Action("Member","Admin",new { sort="JoiningDate",i=Request.QueryString["i"],search=Request.QueryString["search"]})" style="color:#333;">joinning date</a></th>
                                <th scope="col">under review notes</th>
                                <th scope="col">published notes</th>
                                <th scope="col">downloaded notes</th>
                                <th scope="col">total expenses</th>
                                <th scope="col">total earnings</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>

                            @{int index = 1; }
                            @foreach (NotesMarketPlace.Models.User u in Model)
                            {
                                string joiningdate = String.Format("{0:dd-MM-yyyy,hh:mm}", u.CreatedDate);

                                <tr>
                                    <td class="sr-no">@index</td>
                                    <td>@u.FirstName</td>
                                    <td>@u.LastName</td>
                                    <td>@u.EmailID</td>
                                    @if (u.CreatedDate == null)
                                    {
                                        <td>NA</td>
                                    }
                                    else
                                    {
                                        <td>@joiningdate</td>
                                    }
                                    <td class="sr-no blue">@TempData[u.ID.ToString()]</td>
                                    <td class="sr-no blue">@TempData[u.ID.ToString() + " publish"]</td>
                                    <td class="sr-no blue">@TempData[u.ID.ToString() + " download"]</td>
                                    <td class="sr-no blue">$@TempData[u.ID.ToString() + " expenses"]</td>
                                    <td class="sr-no">$@TempData[u.ID.ToString() + " earned"]</td>
                                    <td>
                                        <div class="dropdown right">
                                            <img src="~/images/Dashboard/dots.png" role="button" alter="client" class="img-responsive eye" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">


                                            <div class="dropdown-menu width-view">
                                                <div class="dropdown-item item-01"><a href='@Url.Action("MemberDetails", "Admin", new {id=u.ID })' style="color:#333;" class="btn-admin-download">View More Details</a></div><br>
                                                <div class="dropdown-item">Deactivate</div><br>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                index += 1;
                            }

                        </tbody>
                    </table>
                </div>

                <div id="page" class="text-center">
                    @Html.PagedListPager(Model, i => Url.Action("Member", "Admin", new { i, search = Request.QueryString["search"], sort = Request.QueryString["sort"]}), new PagedListRenderOptions
               {
                   ContainerDivClasses = null,
                   LiElementClasses = new string[] { "page-item1" },
                   UlElementClasses = new string[] { "pagination justify-content-center" },
                   LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
                   LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
                   MaximumPageNumbersToDisplay = 5,
                   DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                   DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                   DisplayLinkToLastPage = PagedListDisplayMode.Never
               })
                </div>
            </div>

        </div>
    </section>
    <!-- Member Ends -->

