@model NotesMarketPlace.Models.Memberbasicdetail

<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Title -->
    <title>Notes MarketPlace</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/home/favicon.ico">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">
    <!--Pagination-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/whiteNav.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">



    <style>
        table.dataTable thead .sorting {
            background: none !important;
        }

        table.dataTable thead .sorting_asc {
            background: none !important;
        }



        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 18px;
            border-bottom: none;
        }

        table.dataTable.no-footer {
            border-bottom: 1px solid #dee2e6;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
            background: none !important;
            background-color: #6255a5 !important;
            border-radius: 50% !important;
            color: white !important;
            font-family: "open sans",sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
        }

        .dataTables_wrapper .dataTables_paginate {
            display: table;
            width: 100%;
            text-align: center;
            margin-top: 10px;
        }

            .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
                background: none;
                background-color: white;
                color: #333 !important;
                border-radius: 50%;
                border: 1px solid white;
                font-family: "open sans",sans-serif;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                outline: none;
            }

        .dataTables_wrapper .dataTables_info {
            display: none;
        }
    </style>

</head>


<body data-spy="scroll" data-target=".navbar" data-offset="65">





    <!-- Header -->
    <header id="admin-header">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid white-nav-top">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">

                        <!-- Mobile Menu Open Button -->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!-- Logo -->
                        <a class="navbar-brand1 smooth-scroll" href="#home">
                            <img src="~/images/home/logo.png" alt="Logo" style="margin-left: 50px;">
                        </a>
                    </div>

                    <!-- Main Menu -->
                    <div class="container">
                        <div class="collapse navbar-collapse">

                            <ul class="nav navbar-nav pull-right">

                                <li>
                                    <a class="smooth-scroll" href="searchNotes.html" target="_self">
                                        <b>Dashboard</b>
                                        <hr>
                                    </a>
                                </li>
                                <li>
                                    <a alter="client" class="smooth-scroll" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria- expanded="false">
                                        <b> Notes</b>
                                        <hr>
                                    </a>
                                    <div class="dropdown-menu width-notes">
                                        <div class="dropdown-item item-01" href="#">Notes Under Review</div><br>
                                        <div class="dropdown-item" href="#">Published Notes</div><br>
                                        <div class="dropdown-item" href="#">Downloaded Notes</div><br>
                                        <div class="dropdown-item" href="#">Rejected Notes</div><br>

                                    </div>
                                </li>
                                <li><a class="smooth-scroll" href="#"><b>Members</b></a></li>
                                <li>
                                    <a alter="client" class="smooth-scroll" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">
                                        <b>Reports</b>
                                        <hr>
                                    </a>
                                    <div class="dropdown-menu width-reports">
                                        <div class="dropdown-item item-01" href="#">Spam Reports</div><br>
                                    </div>
                                    <hr>
                                </li>
                                <li>
                                    <a class="smooth-scroll" href="#">
                                        <b>Settings</b>
                                        <hr>
                                    </a>
                                </li>
                                <li>
                                    <div class="dropdown">
                                        <img src="~/images/Dashboard/user-img.png" role="button" alter="client" class="img-circle img-responsive profile" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">
                                        <div class="dropdown-menu text-center width-dashboard">
                                            <div class="dropdown-item" href="#">My Profile</div><br>
                                            <div class="dropdown-item" href="#">My Downloads</div><br>
                                            <div class="dropdown-item" href="#">My Sold Notes</div><br>
                                            <div class="dropdown-item" href="#">My Rejected Notes</div><br>
                                            <div class="dropdown-item" href="#">Change Password</div><br>
                                            <div class="dropdown-item item-logout" href="#">Logout</div>
                                        </div>
                                    </div>
                                </li>
                                <li><a class=" btn btn-login smooth-scroll" href="#" role="button"><b>Logout</b></a></li>

                            </ul>
                        </div>
                    </div>


                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li>
                                    <div id="mobile-menu-dropdown" class="dropdown">
                                        <img src="~/images/Dashboard/user-img.png" role="button" alter="client" class="img-circle img-responsive profile" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">

                                        <div class="dropdown-menu text-center width-dashboard">
                                            <div class="dropdown-item item-01" href="#">My Profile</div><br>
                                            <hr>
                                            <div class="dropdown-item" href="#">My Downloads</div><br>
                                            <hr>
                                            <div class="dropdown-item" href="#">My Sold Notes</div><br>
                                            <hr>
                                            <div class="dropdown-item" href="#">My Rejected Notes</div><br>
                                            <hr>
                                            <div class="dropdown-item" href="#">Change Password</div><br>
                                            <hr>
                                            <div class="dropdown-item item-logout" href="#">Logout</div>

                                        </div>
                                    </div>
                                </li>
                                <hr>

                                <li><a class="smooth-scroll" href="searchNotes.html" target="_self"><b>Dashboard</b></a></li>
                                <hr>
                                <li>
                                    <div id="mobile-menu-dropdown1" class="dropdown">
                                        <a alter="client" class="smooth-scroll" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false"><b> Notes</b></a>

                                        <div class="dropdown-menu width-notes">
                                            <div class="dropdown-item item-01" href="#">Notes Under Review</div><br>
                                            <div class="dropdown-item" href="#">Published Notes</div><br>
                                            <div class="dropdown-item" href="#">Downloaded Notes</div><br>
                                            <div class="dropdown-item" href="#">Rejected Notes</div><br>
                                        </div>
                                    </div>
                                </li>
                                <hr>

                                <li><a class="smooth-scroll" href="mySoldNotes.html"><b>Members</b></a></li>
                                <hr>

                                <li>
                                    <div id="mobile-menu-dropdown" class="dropdown">
                                        <a alter="client" class="smooth-scroll" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false"><b>Reports</b></a>

                                        <div class="dropdown-menu width-reports">
                                            <div class="dropdown-item item-01" href="#">Spam Reports</div><br>
                                        </div>

                                    </div>
                                </li>
                                <hr>

                                <li><a class="smooth-scroll" href="contact.html"><b>Setting</b></a></li>
                                <hr>
                                <li><button class=" btn btn-login smooth-scroll" href="login.html"><b>Logout</b></button></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!-- Header Ends -->
    <!-- Member Details -->

    <section id="memberDetails">
        <div class="content-box-md content-box-sm content-box-xs">
            <div class="container member-details-wrapper">
                <div class="row">
                    <div class="sub-heading" style="margin:0 0 30px 10px;">
                        <h4>Member Details</h4>
                    </div>
                </div>
                @{
                    string DOB = String.Format("{0:dd-mm-yyyy}", Model.userprofile.DOB);
                }

                <div class="row">
                    <div id="member-details-img" class="col-md-2 col-sm-4 col-xs-12">
                        <img src="~/Uploadimg/@Model.userprofile.Profile_Picture" alt="member-id" class="img-responsive img-member " style="height:180px; width:180px;">
                    </div>
                    <div id="info-1" class="col-md-5 col-sm-6 col-xs-12 vr" >

                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                First Name:
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.user.FirstName
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                Last Name:
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.user.LastName
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                Email:
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.user.EmailID
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                DOB:
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @DOB
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                Phone Number:
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.userprofile.Phone_Number
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                College/University:
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.userprofile.College
                            </div>
                        </div>

                    </div>



                    <div id="info-2" class="col-md-5 col-sm-6 col-xs-12" style="font-family:sans-serif;">

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                Address 1:
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.userprofile.Address_Line_1
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                Address 2:
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.userprofile.Address_Line_2
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                City:
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.userprofile.City
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                State:
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;"> 
                                @Model.userprofile.State
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                Country:
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.userprofile.Country
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-5 left02" style="font-family:sans-serif;">
                                Zip Code:
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-5  right01" style="font-family:sans-serif;">
                                @Model.userprofile.ZipCode
                            </div>
                        </div>

                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-md-12 notes-heading">
                        <h6 style="font-family:sans-serif;">Notes</h6>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table border shadow">
                        <thead>
                            <tr>
                                <th scope="col">sr no.</th>
                                <th scope="col">note title</th>
                                <th scope="col">category</th>
                                <th scope="col">status</th>
                                <th scope="col">downloaded notes</th>
                                <th scope="col">total earnings</th>
                                <th scope="col">date added</th>
                                <th scope="col">published date</th>
                                <th scope="col"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int index = 1; }
                            @foreach (var item in Model.memberdetails)
                            {
                                string Addeddate = String.Format("{0:dd-mm-yyyy,hh:mm}", item.note.CreatedDate);
                                string Publisheddate = String.Format("{0:dd-mm-yyyy,hh:mm}", item.note.PublishedDate);
                                <tr>
                                    <td class="sr-no">@index</td>
                                    <td class="blue"><a href="@Url.Action("NoteDetails", "Admin", new { id = item.note.ID })">@item.note.Title</a></td>
                                    <td>@item.category.Name</td>
                                    <td>@item.status.Value</td>
                                    <td class="text-center blue" style="width:100px;">@TempData[item.note.ID.ToString()]</td>
                                    <td class="text-center" style="width:130px;">$ @TempData[item.note.ID + " earned"]</td>
                                    <td style="padding-left:0; padding-right:0;">@Addeddate</td>
                                    <td style="padding-left:0; padding-right: 0; width:120px;">@Publisheddate</td>
                                    <td>
                                        <div class="dropdown right">
                                            <img src="~/images/Dashboard/dots.png" role="button" alter="client" class="img-responsive eye" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">


                                            <div class="dropdown-menu width-view">
                                                <div class="dropdown-item"><a href='@Url.Action("Download", "RegisteredUser", new {path=item.attachment.FilePath })' style="color:#333;">Download Note</a></div><br>

                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                index += 1;
                            }


                        </tbody>
                    </table>
                </div>



            </div>
        </div>
    </section>

    <!-- Member Details -->
    <!-- Footer -->
    <footer id="admin-footer" class="navbar-bottom">
        <hr>

        <div class="row">
            <div class="text text-left">
                <p class="left-footer">
                    Version: 1.1.24
                </p>
            </div>

            <div class=" text-right">
                <p class="right-footer">Copyright &copy; TatvaSoft All rights reserved.</p>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->
    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>


    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            var table = $('table').DataTable({
                'sDom': '"top"i',
                "iDisplayLength": 10,
                "binfo": false,
                language: {
                    paginate: {
                        next: "<img src='~/images/remainingImage-front/right-arrow.png'>",
                        previous: '<img src="~/images/remainingImage-front/left-arrow.png">'
                    }
                }

            }

            );
            $('.btn-search').click(function () {
                var x = $('#search').val();

                table.search(x).draw();
            });

        });
    </script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/script.js"></script>

</body>
</html>