@model IPagedList<NotesMarketPlace.Models.SellerNote>
@using PagedList;
@using PagedList.Mvc;
@{
    IEnumerable<NotesMarketPlace.Models.ReferenceData> status = ViewData["Status"] as IEnumerable<NotesMarketPlace.Models.ReferenceData>;
    IEnumerable<NotesMarketPlace.Models.NoteCategory> category = ViewData["Category"] as IEnumerable<NotesMarketPlace.Models.NoteCategory>;
    IEnumerable<NotesMarketPlace.Models.User> user = ViewData["User"] as IEnumerable<NotesMarketPlace.Models.User>;

}
@{
    ViewBag.Title = "NotesUnderReview";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<!-- Notes Under Review -->
<section id="notesUnderReview">
    <div class="content-box-md content-box-sm content-box-xs">
        <div class="container under-review-wrapper">
            <div class="row">
                <div class="sub-heading margin-reset">
                    <h4>Notes Under Review</h4>
                </div>
                <div class="row">
                    <form id="form1">
                        <div class="left">
                            <p>Seller</p>

                            <select onchange="onSubmit()" class="form-control seller" name="seller" id="seller"  style="text-overflow: ellipsis;>
                                <option value="">Seller</option>
                                @foreach (NotesMarketPlace.Models.SellerNote n in Model)
                                {
                                    foreach (var u in user)
                                    {
                                        if (n.SellerID == u.ID)
                                        {
                                            <option value="@u.ID">@u.FirstName</option>
                                        }
                                    }
                                }
                            </select>
                            <script>
                                    $("#seller").val("@Request.QueryString["seller"]");
                            </script>
                        </div>
                    </form>


                    <div class="margin-top">
                        <form method="get">
                            <div class="s-btn margin-right margin-reset">
                                <button class="btn btn-search" type="submit">search</button>
                            </div>
                            <div class="seach-bar">
                                <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>
                                <div>
                                    <input type="text" class="form-control border-none" id="search" name="search"
                                           value="@Request.QueryString["search"]" placeholder="Search">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



            </div>

            <div class="table-responsive">
                <table class="table border shadow">
                    <thead>
                        <tr>
                            <th scope="col">sr no.</th>
                            <th scope="col">note title</th>
                            <th scope="col">category</th>
                            <th scope="col" class="seller01">seller</th>
                            <th scope="col"> </th>
                            <th scope="col">date added</th>
                            <th scope="col">status</th>
                            <th scope="col" class="text-center action">action</th>
                            <th scope="col"> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int index = 1;}
                        @foreach (NotesMarketPlace.Models.SellerNote n in Model)
                        {
                            <tr>
                                <td class="sr-no">@index</td>
                                <td class="blue"><a href="@Url.Action("NoteDetails","Admin",new { id=n.ID})">@n.Title</a></td>
                                <td>@n.NoteCategory.Name</td>

                                <td>@n.User.FirstName @n.User.LastName</td>
                                <td>
                                    <a href="@Url.Action("MemberDetails","Admin",new { id=(n.SellerID)})"> <img src="~/images/Dashboard/eye.png" class="eye"></a>
                                </td>
                                <td>25-11-2020, 11:08</td>
                                <td>@n.ReferenceData.Value</td>
                                <td>
                                    <button class="btn btn-action btn-green"><a href="@Url.Action("Approve","Admin",new { id=(int)n.ID})" class="btn-admin-download" style="color:#fff;">Approve</a></button>
                                    <button class="btn btn-action btn-red"><a href="@Url.Action("Reject","Admin",new { id=(int)n.ID})" class="btn-admin-download" style="color:#fff;">Reject</a></button>
                                    <button class="btn btn-action btn-grey"><a href="@Url.Action("InReview","Admin",new { id=(int)n.ID})" class="btn-admin-download" style="color:#fff;">InReview</a></button>
                                </td>
                                <td>
                                    <div class="dropdown right">
                                        <img src="~/images/Dashboard/dots.png" role="button" alter="client" class="img-responsive eye" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">


                                        <div class="dropdown-menu width-view">
                                            <div class="dropdown-item item-01"><a href='@Url.Action("NoteDetails", "Admin", new {id=n.ID })' style="color:#333;" class="btn-admin-download">View More Details</a></div><br>
                                            <div class="dropdown-item"><a href='@Url.Action("Download", "RegisteredUser", new {path=TempData[n.ID.ToString() + "path"]})' style="color:#333;" class="btn-admin-download">Download Notes</a></div><br>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            index += 1;
                        }


                    </tbody>
                </table>
            </div>


            <div id="page" class="text-center">
                @Html.PagedListPager(Model, i => Url.Action("NotesUnderReview", "Admin", new { i, search = Request.QueryString["search"], seller = Request.QueryString["seller"] }), new PagedListRenderOptions
                {
                    ContainerDivClasses = null,
                    LiElementClasses = new string[] { "page-item1" },
                    UlElementClasses = new string[] { "pagination justify-content-center" },
                    LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
                    LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
                    MaximumPageNumbersToDisplay = 5,
                    DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                    DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                    DisplayLinkToLastPage = PagedListDisplayMode.Never
                })
            </div>
        </div>

    </div>
</section>
<!-- Notes Under Review -->
<script>
    function onSubmit() {
        document.getElementById('form1').submit();
    }
</script>