@model NotesMarketPlace.Models.AddNote

@{
    ViewBag.Title = "AddNote";
    Layout = "~/Views/Shared/Front_user.cshtml";
}

<!-- Add Notes cover -->
<section id="addNotes">
    <img src="~/images/Search/banner-with-overlay.jpg" alt="banner" class="img-responsive add">
    <div id="add-content">
        <div class="container text-center" id="add-content-inner">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="home-heading page-heading ">
                        <h1>Add Notes</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- Add Notes cover Ends -->
<!-- Basic book Details -->
<section id="basic-details">
    <div class="content-box-md content-box-sm content-box-xs">
        <div class="container">

            <!-- Basic Note Details -->
            <div class="sub-heading">
                <h4>Basic Note Details</h4>
            </div>

            <div class="details">
                @using (Html.BeginForm("AddNote", "RegisteredUser", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {

                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group text-left">
                                @Html.Label("Title", "Title *", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your note title" } })

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group text-left">
                                @Html.Label("Category", "Category *", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.Category, new SelectList(Model.categories, "ID", "Name"), "Select your category", new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            @Html.LabelFor(model => model.Display_Picture, "Display Picture*", new { @style = "margin-top: 20px;" })
                            <div class="show-pic">
                                <label for="Display_Picture">
                                    <img src="~/images/User-Profile/upload.png" alt="Profile Picture">
                                    <p id="Display_Picturefilename">Upload a picture</p>
                                </label>
                                @Html.TextBoxFor(model => model.Display_Picture, new { @type = "file", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            @Html.LabelFor(model => model.FileName, "Upload Notes*", new { @style = "margin-top: 20px;" })
                            <div class="show-pic">
                                <label for="FileName">
                                    <img src="~/images/remainingImage-front/upload-note.png" alt="Profile Picture">
                                    <p id="FileNamefilename">Upload your notes</p>
                                </label>
                                @Html.TextBoxFor(model => model.FileName, new { @type = "file", @class = "form-control" })
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group text-left">
                                @Html.Label("NoteType", "Type", htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.NoteType, new SelectList(Model.types, "ID", "Name"), "Select your type", new { @class = "form-control" })

                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group text-left">
                                @Html.Label("Number_Of_Pages", "Number of Pages", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Number_Of_Pages, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter number of note pages" } })

                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group text-left ">
                                @Html.Label("Description", "Description *", htmlAttributes: new { @class = "control-label" })
                                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @placeholder = "Enter your description" })

                            </div>
                        </div>

                    </div>





                    <!-- Institution Information -->
                    <div class="sub-heading" style="margin-top:30px;">
                        <h4>Institution Information</h4>
                    </div>

                    <div class="details">


                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group text-left">
                                    @Html.Label("Country", "Country *", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(model => model.Country, new SelectList(Model.countries, "ID", "Name"), "Select your country", new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group text-left">
                                    @Html.Label("University_Name", "Institution Name", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.University_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your institution name" } })

                                </div>
                            </div>

                        </div>


                    </div>


                    <!-- Course Details -->
                    <div class="sub-heading">
                        <h4>Course Details</h4>
                    </div>

                    <div class="details">


                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group text-left">
                                    @Html.Label("Course", "Course Name", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Course, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your course name" } })


                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                <div class="form-group text-left">
                                    @Html.Label("CourseCode", "Course Code", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your course code" } })

                                </div>
                            </div>

                            <div class="col-md-6 col-sm-12">
                                <div class="form-group text-left">
                                    @Html.Label("Professor", "Professor / Lecturer", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Professor, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your professor name" } })

                                </div>
                            </div>

                        </div>


                    </div>

                    <!-- selling Information -->
                    <div class="sub-heading">
                        <h4>Selling Information</h4>
                    </div>

                    <div class="details">


                        <div class="row">

                            <div class="col-md-6 col-sm-6">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="form-group text-left">
                                            @Html.LabelFor(model => model.IsPaid, "Sell For*", htmlAttributes: new { @class = "control-label" })
                                        </div>
                                        <div class="left margin-right">
                                            <div class="left">
                                                <!-- <input type="radio" id="free" name="purchase" value=false class="custom-control-input ">-->
                                                @Html.RadioButtonFor(model => model.IsPaid, false, new { @id = "free", @name = "purchase" })
                                            </div>
                                            <div class=" right margin-bottom">
                                                <!--<label class="custom-control-label" for="free"><span>Free</span></label>-->
                                                @Html.Label("free", "Free", new { id = "free-lbl", @class = "custom-control-label" })
                                            </div>
                                        </div>

                                        <div class="left">
                                            <div class="left">
                                                <!--<input type="radio" id="paid" name="purchase" value=true class="custom-control-input">-->
                                                @Html.RadioButtonFor(model => model.IsPaid, true, new { @id = "paid", @name = "purchase" })
                                            </div>
                                            <div class=" right margin-bottom">
                                                <!--<label class="custom-control-label form-check" for="paid"><span>Paid</span></label>-->
                                                @Html.Label("paid", "Paid", new { id = "paid-lbl", @class = "custom-control-label" })
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-12 col-sm-12">
                                        <div class="form-group text-left sell-price">
                                            @Html.Label("SellingPrice", "Sell Price *", htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.SellingPrice, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your professor name" } })

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.NotesPreview, "Notes Preview", new { @style = "margin-top: 20px;" })
                                <div class="show-pic">
                                    <label for="NotesPreview">
                                        <img src="~/images/remainingImage-front/upload-note.png" alt="Profile Picture">
                                        <p id="NotesPreviewfilename">Upload a file</p>
                                    </label>
                                    @Html.TextBoxFor(model => model.NotesPreview, new { @type = "file", @class = "form-control" })
                                </div>
                            </div>


                        </div>

                    </div>


                    <div>
                        <button class="btn btn-sell" type="submit" disabled>Save</button>
                        <button class="btn btn-sell margin-left" type="submit">publish</button>
                    </div>
                }



            </div>
        </div>
</section>
<!-- Basic book Details Ends -->

<script>
    //For Profile Picture
    var input_var = document.getElementById('Display_Picture');
    var infoArea = document.getElementById('Display_Picturefilename');

    //For Upload Notes
    var input_img = document.getElementById('FileName');
    var infoAreaimg = document.getElementById('FileNamefilename');

    //For Preview Notes
    var input_img1 = document.getElementById('NotesPreview');
    var infoAreaimg1 = document.getElementById('NotesPreviewfilename');

    if (input_var) {
        input_var.addEventListener('change', showFileName);
    }

    if (input_img) {
        input_img.addEventListener('change', showImgName);
    }

    if (input_img1) {
        input_img1.addEventListener('change', showImgName1);
    }

    function showFileName(event) {

        // the change event gives us the input it occurred in
        var input_var = event.srcElement;

        // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
        var fileName = input_var.files[0].name;

        // use fileName however fits your app best, i.e. add it into a div
        infoArea.textContent = 'Notes name: ' + fileName;
    }
    function showImgName(event) {

        var input_img = event.srcElement;

        var fileName = input_img.files[0].name;

        infoAreaimg.textContent = 'Picture name: ' + fileName;
    }
    function showImgName1(event) {

        var input_img1 = event.srcElement;

        var fileName = input_img1.files[0].name;

        infoAreaimg1.textContent = 'Picture name: ' + fileName;
    }

                        //function confirmation_btn() {

                        //}
</script>



