@model NotesMarketPlace.Models.ContactUs
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/Front_user.cshtml";
}

    <!-- Contact Us Heading -->
    <section id="contact">
        <img src="../../images/Search/banner-with-overlay.jpg" alt="banner" class="img-responsive contact">
        <div id="contact-content">
            <div class="container text-center" id="contact-content-inner">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">

                        <div class="home-heading page-heading ">
                            <h1>Contact Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Contact Us Ends -->
    <!-- Get In Touch -->
    <section id="get-in-touch">
        <div class="content-box-md content-box-sm content-box-xs">
            <div class="container">
                <div id="get-in-touch-wrapper" class="row">

                    <div class="sub-heading">
                        <h4>Get in Touch</h4>
                        <p><small>Let us know how to get back to you</small></p>
                    </div>

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <!-- Contact left -->
                        <div class="col-md-6 col-sm-6 col-xs-12 padding" id="contact-form-left">

                            <div class="col-md-12 col-sm-12 padding">
                                @Html.Label("FullName", "Full Name *", htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">

                                    @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your full name" } })
                                    @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })

                                </div><br />
                            </div>


                            <div class="col-md-12 col-sm-12 padding">
                                @Html.Label("EmailID", "Email Address *", htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your email address" } })
                                    @Html.ValidationMessageFor(model => model.EmailID, "", new { @class = "text-danger" })
                                </div><br>
                            </div>


                            <div class="col-md-12 col-sm-12 padding">
                                @Html.Label("Subject", "Subject *", htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your subject" } })
                                    @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                                </div><br>
                            </div>

                        </div>

                        <!-- Contact Right -->
                        <div class="col-md-6 col-sm-6 col-xs-12" id="contact-form-right">
                            <div id="text-area" class="col-md-12 col-sm-12">
                                @Html.Label("Comments", "Comments/ Questions *", htmlAttributes: new { @class = "control-label" })
                                <div class="form-group">
                                    @Html.TextAreaFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @placeholder = "Comments..." } })
                                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>


                        <div id="contact-btn">
                            <button class="btn btn-submit" type="submit">Submit</button>
                        </div>

                    }
                </div>


                <div>
                    @if (ViewBag.Message != null)
                    {
                        <strong style="color:green;">@ViewBag.Message</strong>


                    }
                </div>





            </div>
    </section>
    <!-- Get In Touch Ends -->
