@model IPagedList<NotesMarketPlace.Models.SellerNote>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Front_user.cshtml";
}
<!-- Dashboard -->
<section id="dashboard">
    <div class="content-box-md content-box-sm content-box-xs">
        <div class="container" id="dashboard-wrapper">
            <div class="row margin-reset">
                <div class="sub-heading dashboard">
                    <h4>Dashboard</h4>

                </div>


                <div>
                    <button class="btn btn-add-note" onclick='window.location = "@Url.Action("AddNote","RegisteredUser")";'>Add note</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 ">
                    <table class="table   table-bordered left-01">
                        <tr>

                            <td class="text-center my-earning col-md-3 col-sm-3 col-xs-3">
                                <div class="left-dashboard1 ">
                                    <div><img src="~/images/Dashboard/earning-icon.svg" class="img-responsive earnings" alt="earning-logo"></div>
                                    <span>
                                        <h6>My Earning</h6>
                                    </span>
                                </div>
                            </td>

                            <td class="col-span-2 my-earning-details col-md-9 col-sm-9 col-xs-9">
                                <div class="left-dashboard1 ">
                                    <h4>@ViewBag.Soldnote</h4>
                                    <span>
                                        <h6>Number of Notes Sold</h6>
                                    </span>
                                </div>
                                <div class="left-dashboard2">
                                    <h4>$@ViewBag.money_earned</h4>
                                    <span>
                                        <h6>Money Earned</h6>
                                    </span>
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 text-center">
                    <table class="table table-bordered left-01">
                        <tr>
                            <td class="my-earning-details">
                                <h4>@ViewBag.my_download</h4>
                                <span>
                                    <h6>My Downloads</h6>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 text-center">
                    <table class="table table-bordered left-01">
                        <tr>
                            <td class="my-earning-details">
                                <h4>@ViewBag.my_rejected</h4>
                                <span>
                                    <h6>My Rejected Notes</h6>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-2 col-sm-12 col-xs-12 text-center">
                    <table class="table table-bordered left-01">
                        <tr>
                            <td class="my-earning-details">
                                <h4>@ViewBag.buyer_req</h4>
                                <span>
                                    <h6>Buyer Requests</h6>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="dashboard-details">
                <div class="row margin-reset">
                    <div class="notes-heading">
                        <h6>In Progress Notes</h6>
                    </div>

                    <form method="get">
                        <div class="s-btn">
                            <button class="btn btn-search" type="submit">search</button>
                        </div>
                        <div class="seach-bar">
                            <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>

                            <div>
                                <input type="text" class="form-control border-none" id="search1" name="search1"
                                       value="@Request.QueryString["search1"]" placeholder="Search">

                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="table-responsive">
                <table class="table border shadow">
                    <thead>
                        <tr>
                            <th scope="col">added date</th>
                            <th scope="col">title</th>
                            <th scope="col">category</th>
                            <th scope="col">status</th>
                            <th scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (NotesMarketPlace.Models.SellerNote s in Model)
                        {
                            NotesMarketPlace.Models.NotesMarketPlaceEntities2 db = new NotesMarketPlace.Models.NotesMarketPlaceEntities2();
                            var category = db.NoteCategories.Where(e => e.ID == s.Category).FirstOrDefault();
                            var status = db.ReferenceDatas.Where(e => e.ID == s.Status).FirstOrDefault();
                            string date = String.Format("{0:dd-mm-yyyy}", s.CreatedDate);
                            if (s.Status != 11)
                            {
                                <tr>
                                    <td>@date</td>
                                    <td>@s.Title</td>
                                    <td>@category.Name</td>
                                    <td>@status.Value</td>

                                    <td>
                                        <a href="@Url.Action("NoteDetails", "RegisteredUser", new { id = s.ID })"><img src="~/images/Dashboard/edit.png" class="pencil" /></a>
                                        <a href="@Url.Action("Delete", "RegisteredUser", new { id = s.ID })"><img src="~/images/Dashboard/delete.png" class="eye" /></a>
                                    </td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>

            <div id="page" class="text-center">
                @Html.PagedListPager(Model, i => Url.Action("DashBoard", "RegisteredUser", new { i, search1 = Request.QueryString["search1"] }), new PagedListRenderOptions
                   {
                   ContainerDivClasses = null,
                   LiElementClasses = new string[] { "page-item1" },
                   UlElementClasses = new string[] { "pagination justify-content-center" },
                   LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
                   LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
                   MaximumPageNumbersToDisplay = 5,
                   DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                   DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                   DisplayLinkToLastPage = PagedListDisplayMode.Never
               })
            </div>



            <div class="dashboard-details">
                <div class="row margin-reset">
                    <div class="notes-heading">
                        <h6>Published Notes</h6>
                    </div>

                    <form method="get">
                        <div class="s-btn">
                            <button class="btn btn-search" type="submit">search</button>
                        </div>
                        <div class="seach-bar">
                            <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>

                            <div>
                                <input type="text" class="form-control border-none" id="search" name="search"
                                       value="@Request.QueryString["search"]" placeholder="Search">

                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="table-responsive">
                <table class="table border shadow">
                    <thead>
                        <tr>
                            <th scope="col" class="center">added date</th>
                            <th scope="col">title</th>
                            <th scope="col">category</th>
                            <th scope="col">Sell price</th>
                            <th scope="col">price</th>
                            <th scope="col">action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (NotesMarketPlace.Models.SellerNote s in Model)
                        {
                            NotesMarketPlace.Models.NotesMarketPlaceEntities2 db = new NotesMarketPlace.Models.NotesMarketPlaceEntities2();
                            var category = db.NoteCategories.Where(e => e.ID == s.Category).FirstOrDefault();
                            string date = String.Format("{0:dd-mm-yyyy}", s.CreatedDate);
                            if (s.Status == 11)
                            {
                                <tr>
                                    <td>@date</td>
                                    <td>@s.Title</td>
                                    <td>@category.Name</td>
                                    @if (s.IsPaid == true)
                                    {
                                        <td>Paid</td>
                                        <td>$@s.SellingPrice</td>
                                    }
                                    else
                                    {
                                        <td>Free</td>
                                        <td>$0</td>
                                    }

                                    <td><a href="@Url.Action("NoteDetails", "RegisteredUser", new { id = s.ID })"><img src="~/images/Dashboard/eye.png" class="img1" /></a></td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>




            <div id="page" class="text-center">
                @Html.PagedListPager(Model, i => Url.Action("DashBoard", "RegisteredUser", new { i, search = Request.QueryString["search"] }), new PagedListRenderOptions
                   {
                   ContainerDivClasses = null,
                   LiElementClasses = new string[] { "page-item1" },
                   UlElementClasses = new string[] { "pagination justify-content-center" },
                   LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
                   LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
                   MaximumPageNumbersToDisplay = 5,
                   DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                   DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                   DisplayLinkToLastPage = PagedListDisplayMode.Never
               })
            </div>

        </div>

    </div>
</section>
<!-- Dashboard Ends -->

