@model IPagedList<NotesMarketPlace.Models.Download>
@using PagedList;
@using PagedList.Mvc;
@{
    ViewBag.Title = "MyDownload";
    Layout = "~/Views/Shared/Front_user.cshtml";
}

    <!-- My Download -->
    <section id="my-download">
        <div class="content-box-md content-box-sm content-box-xs">
            <div class="container download-wrapper">
                <div class="row margin-reset">
                    <div class="sub-heading dashboard">
                        <h4>My Downloads</h4>
                    </div>

                    <!-- <div class="s-btn">
                        <button class="btn btn-search" type="submit">search</button>
                    </div>
                    <div class="seach-bar">
                        <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>
                        <form>
                            <div>
                                <input type="text" class="form-control border-none" id="search" name="search" placeholder="Search">

                            </div>
                        </form>
                    </div>-->

                    <form method="get">
                        <div class="s-btn">
                            <button class="btn btn-search" type="submit">search</button>
                        </div>
                        <div class="seach-bar">
                            <span class="search-icon"><img src="~/images/Dashboard/search-icon.svg"></span>

                            <div>
                                <input type="text" class="form-control border-none" id="search" name="search"
                                       value="@Request.QueryString["search"]" placeholder="Search">

                            </div>
                        </div>
                    </form>

                </div>


                <div class="table-responsive">
                    <table class="table border shadow">
                        <thead>
                            <tr>
                                <th scope="col">sr no.</th>
                                <th scope="col">note title</th>
                                <th scope="col">category</th>
                                <th scope="col">buyer</th>
                                <th scope="col">sell type</th>
                                <th scope="col">price</th>
                                <th scope="col">downloaded date/time</th>
                                <th scope="col">   </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int index = 1; }
                            @foreach (NotesMarketPlace.Models.Download d in Model)
                            {
                                NotesMarketPlace.Models.NotesMarketPlaceEntities2 db = new NotesMarketPlace.Models.NotesMarketPlaceEntities2();
                                var user = db.Users.Where(e => e.ID == d.Downloader).FirstOrDefault();
                                var sellerAttach = db.SellerNotesAttachments.Where(e => e.NoteID == d.NoteID).FirstOrDefault();
                                <tr>
                                    <td class="sr-no">@index</td>
                                    <td class="blue" style="padding-right:0;"><a href="@Url.Action("NoteDetails", "RegisteredUser", new { id = d.NoteID })">@d.NoteTitle</a></td>
                                    <td style="text-align:center; padding-left:0;">@d.NoteCategory</td>
                                    <td>@user.EmailID</td>
                                    @if (d.IsPaid == true)
                                    {
                                        <td style="text-align:center;">Paid</td>
                                    }
                                    else
                                    {
                                        <td style="text-align:center;">Free</td>
                                    }
                                    <td>$@d.PurchasedPrice</td>
                                    <td style="width:200px;">@d.AttachmentDownloadedDate</td>
                                    <td>
                                        <a href="@Url.Action("NoteDetails", "RegisteredUser", new { id = d.NoteID })"><img src="~/images/Dashboard/eye.png" class="img1" /></a>
                                        <div class="dropdown right">
                                            <img src="~/images/Dashboard/dots.png" role="button" alter="client" class="img-responsive eye" href="#" id="dropdownMenuLink" data-toggle="dropdown" ` aria-haspopup="true" aria-expanded="false">

                                            <div class="dropdown-menu width-view">
                                                <div class="dropdown-item"><a href='@Url.Action("Download", "RegisteredUser", new {path=sellerAttach.FilePath })' style="color:#333;">Download Note</a></div><br>
                                                <div class="dropdown-item" data-target="#exampleModalCenter" data-toggle="modal">Add Reviews/Feedback</div><br>
                                                <div class="dropdown-item" data-target="#exampleModalCenter1" data-toggle="modal">Report as Inappropriate</div><br>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                index += 1;
                            }

                        </tbody>
                    </table>
                </div>

                <div id="page" class="text-center">
                    @Html.PagedListPager(Model, i => Url.Action("BuyerRequests", "RegisteredUser", new { i, search = Request.QueryString["search"] }), new PagedListRenderOptions
                       {
                       ContainerDivClasses = null,
                       LiElementClasses = new string[] { "page-item1" },
                       UlElementClasses = new string[] { "pagination justify-content-center" },
                       LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
                       LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
                       MaximumPageNumbersToDisplay = 5,
                       DisplayEllipsesWhenNotShowingAllPageNumbers = false,
                       DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                       DisplayLinkToLastPage = PagedListDisplayMode.Never
                   })
                </div>
            </div>

        </div>
    </section>
    <!-- My Download Ends -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                <form>
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add Review</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="../images/NotesDetails/close.png"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="text">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="text">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="text">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="text">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="text">1 star</label>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group text-left ">
                                <label class="comments">Comments *</label>
                                <textarea class="form-control box-size" id="description" value="" placeholder="Comments..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-submit">submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <!-- Modal 2 -->
    <div class="modal fade" id="exampleModalCenter1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form>

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Report As Inappropriate</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true"><img src="~/images/NotesDetails/close.png"></span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h5 style="color:#6255a5; font-size:18px; font-weight:600; margin-left:15px;">Note Title</h5>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group text-left ">
                                <label class="comments">Remarks *</label>
                                <textarea class="form-control box-size" id="description" value="" placeholder="Comments..." required></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-submit" style="width:200px;">Report an issue</button>
                        <button type="submit" class="btn btn-submit">cancel</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

