@model IPagedList<NotesMarketPlace.Models.SellerNote>
@using PagedList;
@using PagedList.Mvc;
@{
    IEnumerable<NotesMarketPlace.Models.Country> country = ViewData["Country"] as IEnumerable<NotesMarketPlace.Models.Country>;
    IEnumerable<NotesMarketPlace.Models.NoteType> type = ViewData["Type"] as IEnumerable<NotesMarketPlace.Models.NoteType>;
    IEnumerable<NotesMarketPlace.Models.NoteCategory> category = ViewData["Category"] as IEnumerable<NotesMarketPlace.Models.NoteCategory>;
    var university = ViewData["University"] as IEnumerable<string>;
    var course = ViewData["Course"] as IEnumerable<string>;
}

@{
    ViewBag.Title = "SearchNotes";
    Layout = "~/Views/Shared/Front_user.cshtml";
}

    <!-- Search Notes Heading -->
    <section id="searchNotes">
        <img src="~/images/Search/banner-with-overlay.jpg" alt="banner" class="img-responsive search">
        <div id="search-content">
            <div class="container text-center" id="search-content-inner">
                <div class="row">
                    <div class="col-md-12">

                        <div class="home-heading page-heading ">
                            <h1>Search Notes</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Search Notes Heading Ends -->
    <!-- Search and Filter Notes -->
    <section id="filter">
        <div class="content-box-md content-box-sm">
            <div class="container">
                <div class="sub-heading">
                    <h4>Search and Filter notes</h4>
                </div>

                <div id="search-detail">
                    <form id="search_submit" method="get">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-search-01">
                                    <input type="text" class="form-control empty"
                                           id="search" onchange="onSubmit()" name="search"
                                           value="@Request.QueryString["search"]"
                                           placeholder="&#xf002;  Search notes here.." style="font-family:Open Sans,FontAwesome; font-size:18px;">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="type" name="type">
                                        <option value="">Select type</option>
                                        @foreach (NotesMarketPlace.Models.NoteType t in type)
                                        {
                                            <option value="@t.ID">@t.Name</option>
                                        }
                                    </select>
                                    <script>
                                        $("#type").val("@Request.QueryString["type"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="category" name="category">
                                        <option value="">Select category</option>
                                        @foreach (NotesMarketPlace.Models.NoteCategory category1 in category)
                                        {
                                            <option value="@category1.ID">@category1.Name</option>
                                        }
                                    </select>
                                    <script>
                                        $("#category").val("@Request.QueryString["category"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="university" name="university">
                                        <option value="">Select university</option>
                                        @foreach (var u in university)
                                        {
                                            <option value="@u">@u</option>
                                        }
                                    </select>
                                    <script>
                                        $("#university").val("@Request.QueryString["university"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="course" name="course">
                                        <option value="">Select course</option>
                                        @foreach (var c in course)
                                        {
                                            <option value="@c">@c</option>
                                        }
                                    </select>
                                    <script>
                                        $("#course").val("@Request.QueryString["course"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="country" name="country">
                                        <option value="">Select country</option>
                                        @foreach (NotesMarketPlace.Models.Country c in country)
                                        {
                                            <option value="@c.ID">@c.Name</option>
                                        }
                                    </select>
                                    <script>
                                        $("#country").val("@Request.QueryString["country"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="rating" name="rating">
                                        <option>Select rating</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Search and Filter Notes Ends -->
    <!-- Notes -->
    <section id="notes">
        <div class="container">

            <div class="sub-heading">
                <h4>Total @ViewBag.Count notes</h4>
            </div>

            <div class="row">

                @foreach (NotesMarketPlace.Models.SellerNote n in Model)
                {

                    NotesMarketPlace.Models.NotesMarketPlaceEntities2 db = new NotesMarketPlace.Models.NotesMarketPlaceEntities2();
                    var v = db.Countries.Where(e => e.ID == @n.Country).FirstOrDefault();


                    String s = n.CreatedDate.ToString();
                    DateTime d = new DateTime();
                    d = DateTime.ParseExact(s, "dd-MM-yyyy HH:mm:ss", null);
                    String s1 = d.ToString("MMM dd yyyy");
                    String dow = n.CreatedDate.Value.DayOfWeek.ToString();
                    dow = dow.Length > 3 ? dow.Remove(3) : dow;


                    <!-- item-01 -->
                    <div class="col-md-4 col-sm-4 col-xs-12 book-item">
                        <div id="book-cover">
                            <img src="~/Uploadimg/@n.Display_Picture" alt="book-cover" class=" img-responsive" style="height:201px;">
                        </div>
                        <div class="item01">
                            <a href="@Url.Action("NoteDetails", "RegisteredUser", new {id=n.ID})"> <h6> @n.Title </h6></a>
                        </div>
                        <div class="item02">
                            <ul class="book-details">
                                <li><img src="~/images/remainingImage-front/university.png"><span class="text-left">@n.University_Name, @v.Name</span></li>
                                <li><img src="~/images/remainingImage-front/pages.png"><span class="text-left">@n.Number_Of_Pages Pages</span></li>
                                <li><img src="~/images/remainingImage-front/calendar.png"><span class="text-left">@dow, @s1</span></li>
                                <li><img src="~/images/remainingImage-front/flag.png"><span class="red text-left">5 Users marked this note as inappropriate </span></li>
                            </ul>

                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <div>
                                <p>100 reviews</p>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </section>
    <!-- notes Ends -->

    <div id="page" class="text-center">
        @Html.PagedListPager(Model, i => Url.Action("SearchNotes", "RegisteredUser", new
        {
            i,
            search = Request.QueryString["search"],
            type = Request.QueryString["type"],
                                                                                                  category = Request.QueryString["category"],
            university = Request.QueryString["university"],
                                                                                                  course = Request.QueryString["course"],
            country = Request.QueryString["country"]
                                                                                             }),
       new PagedListRenderOptions
           {
           ContainerDivClasses = null,
           LiElementClasses = new string[] { "page-item1" },
           UlElementClasses = new string[] { "pagination justify-content-center" },
           LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
           LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
           MaximumPageNumbersToDisplay = 5,
           DisplayEllipsesWhenNotShowingAllPageNumbers = false,
           DisplayLinkToFirstPage = PagedListDisplayMode.Never,
           DisplayLinkToLastPage = PagedListDisplayMode.Never
       })
    </div>


    <!-- Footer -->
    <footer class="text-left navbar-bottom">
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-8 para">
                    <p style="margin-left: 150px;">
                        Copyright &copy; TatvaSoft All rights reserved.
                    </p>
                </div>

                <div class="col-md-6 col-sm-4 col-xs-4 list">
                    <ul class="social-list text-right" style="margin-right: 150px;">
                        <li><a href="#"><img src="~/images/remainingImage/facebook.png"></a></li>
                        <li><a href="#"><img src="~/images/remainingImage/twitter.png"></a></li>
                        <li><a href="#"><img src="~/images/remainingImage/linkedin.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->


    <script>
        function onSubmit() {
            document.getElementById('search_submit').submit();
        }
    </script>

