@model IPagedList<NotesMarketPlace.Models.SellerNote>
@using PagedList;
@using PagedList.Mvc;
@{ 
    IEnumerable<NotesMarketPlace.Models.Country> country = ViewData["Country"] as IEnumerable<NotesMarketPlace.Models.Country>;
    IEnumerable<NotesMarketPlace.Models.NoteType> type = ViewData["Type"] as IEnumerable<NotesMarketPlace.Models.NoteType>;
    IEnumerable<NotesMarketPlace.Models.NoteCategory> category = ViewData["Category"] as IEnumerable<NotesMarketPlace.Models.NoteCategory>;
    var university = ViewData["University"] as IEnumerable<string>;
    var course = ViewData["Course"] as IEnumerable<string>;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <!-- important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Title -->
    <title>Notes MarketPlace</title>

    <!-- Favicon-->
    <link rel="shortcut icon" href="~/images/home/favicon.ico">

    <!-- Google Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700" rel="stylesheet">

    <!-- Fontawesome -->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet " href="~/Content/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl-carousel/owl.theme.default.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/whiteNav.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>


</head>


<body data-spy="scroll" data-target=".navbar" data-offset="65">

    <!-- Header -->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid white-nav-top">
                <div class="site-nav-wrapper">
                    <div class="navbar-header">

                        <!-- Mobile Menu Open Button -->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!-- Logo -->
                        <a class="navbar-brand1 smooth-scroll" href="#home">
                            <img src="~/images/home/logo.png" alt="Logo" style="margin-left: 50px;">
                        </a>
                    </div>

                    <!-- Main Menu -->
                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right">
                                <li>
                                    <a class="smooth-scroll" href="searchNotes.html" target="_self">
                                        <b>Search Notes</b>
                                        <hr>
                                    </a>
                                </li>
                                <li>
                                    <a class="smooth-scroll" href="#">
                                        <b>Sell Your Notes</b>
                                        <hr>
                                    </a>
                                </li>
                                <li>
                                    <a class="smooth-scroll" href="#">
                                        <b>FAQ</b>
                                        <hr>
                                    </a>
                                </li>
                                <li>
                                    <a class="smooth-scroll" href="#">
                                        <b>Contact Us</b>
                                        <hr>
                                    </a>
                                </li>
                                <li><a class=" btn btn-login smooth-scroll" href="#" role="button"><b>Login</b></a></li>
                            </ul>
                        </div>
                    </div>


                    <!-- Mobile Menu -->
                    <div id="mobile-nav">
                        <!-- Mobile Menu Close Button -->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <hr>
                                <li><a class="smooth-scroll" href="searchNotes.html" target="_self"><b>Search Notes</b></a></li>
                                <hr>
                                <li><a class="smooth-scroll" href="mySoldNotes.html"><b>Sell Your Notes</b></a></li>
                                <hr>
                                <li><a class="smooth-scroll" href="FAQ.html"><b>FAQ</b></a></li>
                                <hr>
                                <li><a class="smooth-scroll" href="contact.html"><b>Contact Us</b></a></li>
                                <hr>
                                <li><button class=" btn btn-login smooth-scroll" href="login.html"><b>Login</b></button></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!-- Header Ends -->
    <!-- Search Notes Heading -->
    <section id="searchNotes">
        <img src="~/images/Search/banner-with-overlay.jpg" alt="banner" class="img-responsive search">
        <div id="search-content">
            <div class="container text-center" id="search-content-inner">
                <div class="row">
                    <div class="col-md-12">

                        <div class="home-heading page-heading ">
                            <h1>Search Notes</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Search Notes Heading Ends -->
    <!-- Search and Filter Notes -->
    <section id="filter">
        <div class="content-box-md content-box-sm">
            <div class="container">
                <div class="sub-heading">
                    <h4>Search and Filter notes</h4>
                </div>

                <div id="search-detail">
                    <form id="search_submit" method="get">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group form-search-01">
                                    <input type="text" class="form-control empty"
                                           id="search" onchange="onSubmit()" name="search"
                                           value="@Request.QueryString["search"]"
                                           placeholder="&#xf002;  Search notes here.." style="font-family:Open Sans,FontAwesome; font-size:18px;">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="type" name="type">
                                        <option value="">Select type</option>
                                        @foreach (NotesMarketPlace.Models.NoteType t in type)
                                        {
                                            <option value="@t.ID">@t.Name</option>
                                        }
                                    </select>
                                    <script>
                                        $("#type").val("@Request.QueryString["type"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="category" name="category">
                                        <option value="">Select category</option>
                                        @foreach (NotesMarketPlace.Models.NoteCategory category1 in category)
                                        {
                                            <option value="@category1.ID">@category1.Name</option>
                                        }
                                    </select>
                                    <script>
                                        $("#category").val("@Request.QueryString["category"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="university" name="university">
                                        <option value="">Select university</option>
                                        @foreach (var u in university)
                                        {
                                            <option value="@u">@u</option>
                                        }
                                    </select>
                                    <script>
                                        $("#university").val("@Request.QueryString["university"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="course" name="course">
                                        <option value="">Select course</option>
                                        @foreach (var c in course)
                                        {
                                            <option value="@c">@c</option>
                                        }
                                    </select>
                                    <script>
                                        $("#course").val("@Request.QueryString["course"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select onchange="onSubmit()" class="form-control" id="country" name="country">
                                        <option value="">Select country</option>
                                        @foreach (NotesMarketPlace.Models.Country c in country)
                                        {
                                            <option value="@c.ID">@c.Name</option>
                                        }
                                    </select>
                                    <script>
                                        $("#country").val("@Request.QueryString["country"]");
                                    </script>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <select class="form-control" id="rating" name="rating">
                                        <option>Select rating</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Search and Filter Notes Ends -->
    <!-- Notes -->
    <section id="notes">
        <div class="container">

            <div class="sub-heading">
                <h4>Total @ViewBag.Count notes</h4>
            </div>

            <div class="row">

                @foreach (NotesMarketPlace.Models.SellerNote n in Model)
                {

                    NotesMarketPlace.Models.NotesMarketPlaceEntities2 db = new NotesMarketPlace.Models.NotesMarketPlaceEntities2();
                    var v = db.Countries.Where(e => e.ID == @n.Country).FirstOrDefault();


                    String s = n.CreatedDate.ToString();
                    DateTime d = new DateTime();
                    d = DateTime.ParseExact(s, "dd-MM-yyyy HH:mm:ss", null);
                    String s1 = d.ToString("MMM dd yyyy");
                    String dow = n.CreatedDate.Value.DayOfWeek.ToString();
                    dow = dow.Length > 3 ? dow.Remove(3) : dow;


                    <!-- item-01 -->
                    <div class="col-md-4 col-sm-4 col-xs-12 book-item">
                        <div id="book-cover">
                            <img src="~/Uploadimg/@n.Display_Picture" alt="book-cover" class=" img-responsive" style="height:201px;">
                        </div>
                        <div class="item01">
                            <a href="@Url.Action("NoteDetails", "RegisteredUser", new {noteid=n.ID})"> <h6> @n.Title </h6></a>
                        </div>
                        <div class="item02">
                            <ul class="book-details">
                                <li><img src="~/images/remainingImage-front/university.png"><span class="text-left">@n.University_Name, @v.Name</span></li>
                                <li><img src="~/images/remainingImage-front/pages.png"><span class="text-left">@n.Number_Of_Pages Pages</span></li>
                                <li><img src="~/images/remainingImage-front/calendar.png"><span class="text-left">@dow, @s1</span></li>
                                <li><img src="~/images/remainingImage-front/flag.png"><span class="red text-left">5 Users marked this note as inappropriate </span></li>
                            </ul>

                            <div class="rate">
                                <input type="radio" id="star5" name="rate" value="5" />
                                <label for="star5" title="text">5 stars</label>
                                <input type="radio" id="star4" name="rate" value="4" />
                                <label for="star4" title="text">4 stars</label>
                                <input type="radio" id="star3" name="rate" value="3" />
                                <label for="star3" title="text">3 stars</label>
                                <input type="radio" id="star2" name="rate" value="2" />
                                <label for="star2" title="text">2 stars</label>
                                <input type="radio" id="star1" name="rate" value="1" />
                                <label for="star1" title="text">1 star</label>
                            </div>
                            <div>
                                <p>100 reviews</p>
                            </div>
                        </div>
                    </div>

                }


            </div>
        </div>
    </section>
    <!-- notes Ends -->
    <div id="page" class="text-center">
    @Html.PagedListPager(Model, i => Url.Action("SearchNotes", "RegisteredUser", new { i, search = Request.QueryString["search"],type=Request.QueryString["type"],
                                                                                              category = Request.QueryString["category"],university=Request.QueryString["university"],
                                                                                              course=Request.QueryString["course"],country=Request.QueryString["country"]
                                                                                         }),
   new PagedListRenderOptions {
       ContainerDivClasses = null,
       LiElementClasses = new string[] { "page-item1" },
       UlElementClasses = new string[] { "pagination justify-content-center" },
       LinkToNextPageFormat = "<i class='fa fa-chevron-right'></i>",
       LinkToPreviousPageFormat = "<i class='fa fa-chevron-left'></i>",
       MaximumPageNumbersToDisplay = 5,
       DisplayEllipsesWhenNotShowingAllPageNumbers = false,
       DisplayLinkToFirstPage = PagedListDisplayMode.Never,
       DisplayLinkToLastPage = PagedListDisplayMode.Never
   })
    </div>


    <!-- Footer -->
    <footer class="text-left navbar-bottom">
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-8 col-xs-8 para">
                    <p style="margin-left: 150px;">
                        Copyright &copy; TatvaSoft All rights reserved.
                    </p>
                </div>

                <div class="col-md-6 col-sm-4 col-xs-4 list">
                    <ul class="social-list text-right" style="margin-right: 150px;">
                        <li><a href="#"><img src="~/images/remainingImage/facebook.png"></a></li>
                        <li><a href="#"><img src="~/images/remainingImage/twitter.png"></a></li>
                        <li><a href="#"><img src="~/images/remainingImage/linkedin.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Ends -->


    <script>
        function onSubmit() {
            document.getElementById('search_submit').submit();
        }
    </script>


    <!-- JQuery -->
    <script src="~/Scripts/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/bootstrap/bootstrap.min.js"></script>

    <!-- Owl Carousel JS -->
    <script src="~/Scripts/owl-carousel/owl.carousel.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/script.js"></script>

</body>
</html>
